<app-tab-layout [tab]="{ 
      name: (product$ | async)?.title,
      subtitle: '6.53inches | 13 MP | 2 GB | Dual SIM',
    }" [backUrl]="'/home'">
  <ng-container *ngIf="product$ | async as product; else loadingSkeleton" content>
    <swiper-container navigation="true" pagination="true">
      <div slot="container-start" class="slide-badge">
        <ion-chip class="primary">#Product of the day</ion-chip>
        <ion-chip class="success">#Popular product</ion-chip>
      </div>

      <swiper-slide *ngFor="let image of product.images" lazy="true">
        <img [src]="image" loading="lazy" />
      </swiper-slide>
    </swiper-container>

    <span class="product-description">
      <b>{{ product.description }}</b>

      In volutpat, felis id laoreet porta, erat dolor malesuada lorem, quis rhoncus eros turpis eu orci. Proin ut urna
      diam. Donec sit amet lorem diam. Integer et odio sem. Proin viverra mi id dapibus tristique. Quisque rutrum lectus
      a libero luctus imperdiet. Sed scelerisque est ut turpis suscipit hendrerit. Aenean condimentum, neque ac
      vestibulum interdum, ligula justo fermentum enim, sed placerat dolor sapien efficitur orci. Nam eu vehicula augue.
    </span>

    <ion-card class="price-alert">
      <ion-card-header>
        <ion-card-title>{{ product.price }} $</ion-card-title>
        <ion-card-subtitle class="price-card-subtitle">
          <div class="line-through">{{ product.price * 1.3 | toFixed }} $</div>
          <div class="save-up-to">Save up to {{ (product.price * 1.3 - product.price) | toFixed }} $</div>
        </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-button color="success">Buy now</ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #loadingSkeleton>
    <ion-skeleton-text class="product-image-skeleton" [animated]="true"></ion-skeleton-text>

    <ion-skeleton-text class="product-text-skeleton" [animated]="true"></ion-skeleton-text>
    <ion-skeleton-text class="product-text-skeleton" [animated]="true"></ion-skeleton-text>
    <ion-skeleton-text class="product-text-skeleton" [animated]="true"></ion-skeleton-text>
    <ion-skeleton-text class="product-text-skeleton" [animated]="true"></ion-skeleton-text>
    <ion-skeleton-text class="product-text-skeleton" [animated]="true"></ion-skeleton-text>
    <ion-skeleton-text class="product-text-skeleton" [animated]="true"></ion-skeleton-text>
    <ion-skeleton-text class="product-text-skeleton" [animated]="true"></ion-skeleton-text>
  </ng-template>
</app-tab-layout>