<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="products" (click)="navigateTo('/products')">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="add" (click)="navigateTo('/add')">
      <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search" (click)="navigateTo('/search')">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings" (click)="navigateTo('/settings')">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<app-menu-sidebar></app-menu-sidebar>
