<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (click)="navigateTo('/home')">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" (click)="navigateTo('/tabs/tab2')">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" (click)="navigateTo('/tabs/tab3')">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
